@model IEnumerable<CinemaTicketBooking.Models.Reservation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reservation History</h1>

<p>
    <a asp-action="SelectMovie">Make a new reservation</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Movie
            </th>
            <th>
                Date and Time of screening
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSeats)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Screening.Movie.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Screening.StartDateAndTime)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.NumberOfSeats)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
