<!-- ShowUsers.cshtml -->
@model List<User>
@{
    ViewData["Title"] = "Users List";
}

<h2>Users List</h2>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>Registration Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>@user.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>
                    <form asp-controller="Admin" asp-action="DeleteUser" method="post">
                        <input type="hidden" name="userId" value="@user.Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
